@import url(https://fonts.googleapis.com/css?family=Poppins);
.svg-inline--fa {
  margin-bottom: 0; }

.hs-sub-menu {
  min-width: 180px; }

@media (min-width: 768px) {
  .hs-has-sub-menu {
    position: relative; }
  .hs-sub-menu .hs-sub-menu,
  .hs-mega-menu .hs-sub-menu,
  .hs-sub-menu .hs-mega-menu,
  .hs-mega-menu .hs-mega-menu {
    top: 0;
    left: 100%;
    margin-top: 0; }
  .hs-sub-menu,
  .hs-mega-menu {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 2;
    margin-top: -.002rem;
    background-color: #fff;
    opacity: 1 !important; }
  .u-header__nav-item .u-header__sub-menu {
    display: none; }
  .u-header__nav-item:hover > .u-header__sub-menu {
    display: block;
    animation: show-navbar-collapse .2s ease-in forwards; }
  .hs-has-sub-menu:hover > .u-header__sub-menu {
    display: block; } }

@media (max-width: 767.9px) {
  .disp-block {
    display: block; }
  .disp-none {
    display: none; }
  #breadcrumbNavBar li > div {
    color: #377dff;
    background: white; } }

@keyframes show-navbar-collapse {
  0% {
    opacity: 0;
    transform: scale(0.95);
    transform: translateY(20px);
    transform-origin: 100% 0; }
  100% {
    opacity: 1;
    transform: translateY(0);
    transform: scale(1); } }

@keyframes hide-navbar-collapse {
  from {
    opacity: 1;
    transform: scale(1);
    transform-origin: 100% 0; }
  to {
    opacity: 0;
    transform: scale(0.95); } }

@keyframes show-navbar-dropdown {
  0% {
    opacity: 0;
    transform: translate(0, 10px) perspective(200px) rotateX(-2deg);
    transition: visibility 0.25s, opacity 0.25s, transform 0.25s; }
  100% {
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes hide-navbar-dropdown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate(0, 10px); } }

